#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 350px;
    height: 350px;
    border: 3px solid black;
    box-sizing: border-box;
    background: linear-gradient(to right, black 3px, transparent 3px) 0 0 / calc(100%/3) 100%, linear-gradient(to bottom, black 3px, transparent 3px) 0 0 / 100% calc(100%/3);
}

.square {
    min-width: clamp(14px, 24px, 30px);
    aspect-ratio: 1;
    border: 1px solid #ccc;
    display: grid;
    place-items: center;
    grid-template-areas: "overlap";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.square-layer {
    grid-area: overlap;
}

.square input {
    max-width: 70%;
}

.square-value {
    font-size: 24px;
    text-align: justify-all;
}

.square-center-notes {
    font-size: 7px;
    text-align: justify-all;
    color: lightgray;
}

.square-corner-notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    font-size: 7px;
    color: lightgray;
}

.square-corner-notes > div {
    padding: 2px;
}

.corner-note:nth-child(1) {
    justify-self: start;
    align-self: start;
}

.corner-note:nth-child(2) {
    justify-self: end;
    align-self: start;
}

.corner-note:nth-child(3) {
    justify-self: start;
    align-self: end;
}

.corner-note:nth-child(4) {
    justify-self: end;
    align-self: end;
}

.active-button {
    background-color: lightskyblue;
}

.inactive-button {
    background-color: white;
}

.controls-container {
    display: flex;
}

.general-controls {
    display: flex;
    flex-direction: column;
}

.controls-item {
    flex: 1;
}

.number-pad {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    row-gap: 0;
    column-gap: 0;
}

.square-button-icon {
    padding: 5px;
    max-width: 50px;
}

.square-button-icon > img {
    width: 40px;
}

.selected-square {
    background-color: lightgoldenrodyellow;
}

.error-square {
    background-color: lightcoral;
}

.provided-value {
    color: black;
}

.entered-value {
    color: cornflowerblue;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.green-background {
    background-color: #c7e6aa55;
}

.purple-background {
    background-color: #aba6e655;
}

.orange-background {
    background-color: #e6c19755;
}

.blue-background {
    background-color: #a6d8e655;
}

.white-background {
    background-color: #ffffff55;
}