#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 350px;
    height: 350px;
    border: 3px solid black;
    box-sizing: border-box;
    background: linear-gradient(to right, black 3px, transparent 3px) 0 0 / calc(100%/3) 100%, linear-gradient(to bottom, black 3px, transparent 3px) 0 0 / 100% calc(100%/3);
}

.square {
    min-width: clamp(14px, 24px, 30px);
    aspect-ratio: 1;
    border: 1px solid #ccc;
}

.square input {
    max-width: 70%;
}

.square-value {
    font-size: 24px;
    text-align: justify-all;
}

.active-button {
    background-color: lightskyblue;
}

.inactive-button {
    background-color: white;
}

.controls-container {
    display:flex;
}

.controls-item {
    flex: 1;
}

.number-pad {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    row-gap: 0;
    column-gap: 0;
}

.square-button-icon {
    padding: 5px;
    max-width: 50px;
}

.square-button-icon > img {
    width: 40px;
}